# build

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
Makefile

# binarki

*.o
*.elf
*.bin
*.hex
*.map
*.a

# logi / temp

*.log
*.tmp
*.bak

# vscode

.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# system

.DS_Store
Thumbs.db

# inne

*.lst
*.d
*.swp
*~
